@media (prefers-reduced-motion: reduce) {
  .starboy-logo {
    transition: none;
  }
  .starboy-logo:hover,
  .starboy-logo:focus {
    filter: none;
  }
}

.starboy-logo {
  /* height: 21em; */
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}

.starboy-logo:hover {
  filter: drop-shadow(0 0 2em #42a5f5);
}

.starboy-logo:focus {
  filter: drop-shadow(0 0 2em #42a5f5);
}
